# Secrets
.env

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
venv/
env/
.venv/

# Streamlit
.streamlit/secrets.toml

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Local DB data
postgres_data/

# PDF documents (already ingested in Supabase, copyright protection)
documents/*.pdf
!documents/.gitkeep
