streamlit==1.41.1
openai==1.68.0
psycopg2-binary==2.9.11
pgvector==0.3.6
PyMuPDF==1.25.3
langchain==0.3.19
langchain-openai==0.3.7
langchain-text-splitters==0.3.6
sentence-transformers==3.4.1
python-dotenv==1.0.1
numpy>=2.0.2
